.body {
color: red;
background: rgba(215, 154, 181, 1);
}
.sa {
color: black;

text-decoration: none ;
}
.text {
text-align: justify;
padding: 3px;


.footer {
background: white;
}
}
.vk_items {
width: 150px;
height: 150px;
padding: 0px -5px 0px -5px;



}
.vk_items1 {
width: 75px;
height: 75px;
border-raduis: 5px 5px 5px 5px;


}
.vk_grid {
display: grid;
grid-template-columns: 1fr 1fr;
}
.user_grid {
display: grid;
grid-template-columns: 1fr;


}
.users_item {
padding: 0px 0px 5px 15px;
}
