.body {
color: red;
background: rgba(215, 154, 181, 1);
}
.sa {
color: black;
background: rgba(215, 154, 181, 1);
text-decoration: none ;
}
.text {
text-align: justify;
padding: 3px;


}
.vk_items {
width: 150px;
height: 150px;
padding: 0px -5px 0px -5px;


}
