.body {
color: red;
background: rgba(215, 154, 181, 1);
}
.sa {
color: black;

text-decoration: none ;
}
.text {
text-align: justify;
padding: 3px;


.footer {
background: white;
}
}
.vk_items {
width: 150px;
height: 150px;
padding: 0px -5px 0px -5px;
border-radius: 5px 5px 5px 5px;


}
.vk_items1 {
width: 75px;
height: 75px;
border-raduis: 5px 5px 5px 5px;


}
.vk_grid {
display: grid;
   background: rgba(175, 238, 238, 1);
grid-template-columns: 1fr 1fr;
border: 2px solid black;
box-shadow:   5px 5px 5px black;
border-radius: 5px 5px 5px 5px;

}
.user_grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;


}
.users_item {
padding: 0px 0px 5px 60px;

}
.button_css {
  background: linear-gradient(pink,
turquoise);
    padding:5px 10px 5px 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 5px black;
}
.textinst {
margin: 0px 0px 0px 15px;
border-radius: 5px 5px 5px 5px;
}
.textvc {
width: 75px;
height: 75px;
border: 2px solid red;
}
.item{

border-raduis: 5px 5px 5px 5px;
}

